* {
  margin:0;
  box-sizing:border-box;
  font-family:"Segoe UI", system-ui;
}

body {
  background:#000;
}

.app {
  height:100vh;
  display:flex;
  flex-direction:column;
  color:white;
}

/* HEADER */
header {
  text-align:center;
  padding:15px;
  background:#050505;
  letter-spacing:1px;
  border-bottom:1px solid rgba(255,255,255,.05);
}

/* CHAT */
#chat {
  flex:1;
  padding:20px;
  overflow-y:auto;
}

.msg {
  max-width:75%;
  padding:12px 15px;
  margin-bottom:10px;
  border-radius:14px;
  animation:fade .2s ease;
}

.user {
  align-self:flex-end;
  background:#1d1d1d;
}

.ai {
  align-self:flex-start;
  background:#0d0f14;
  border:1px solid rgba(255,255,255,.05);
}

/* INPUT BAR */
.input-bar {
  display:flex;
  align-items:center;
  background:#050505;
  padding:12px;
  gap:10px;
  border-top:1px solid rgba(255,255,255,.05);
}

/* PLUS BUTTON */
.file-btn {
  font-size:20px;
  cursor:pointer;
  opacity:.7;
}
.file-btn:hover {
  opacity:1;
}

/* INPUT */
input {
  flex:1;
  background:none;
  border:none;
  outline:none;
  color:white;
  font-size:16px;
}

/* SEND */
button {
  background:#1f1f1f;
  color:white;
  border:none;
  padding:10px 14px;
  border-radius:12px;
  cursor:pointer;
}
button:hover {
  background:#333;
}

/* ANIMATION */
@keyframes fade {
  from {opacity:0; transform:translateY(5px);}
  to {opacity:1;}
}
