body {
  margin:0;
  background:#02050f;
  font-family: "Segoe UI", sans-serif;
  color:#dde6ff;
}

.jarvis {
  display:flex;
  height:100vh;
}

/* LEFT */
.left {
  width:230px;
  background:#050a1c;
  box-shadow:0 0 25px cyan inset;
  text-align:center;
  padding:15px;
}

.core {
  width:70px;
  height:70px;
  background:radial-gradient(circle, cyan 30%, #03142b);
  margin:10px auto;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  color:black;
  font-size:26px;
}

.left h2 {
  margin:5px;
  letter-spacing:2px;
}

.left p {
  color:#76baff;
  font-size:12px;
}

/* CHAT */
.center {
  flex:1;
  display:flex;
  flex-direction:column;
  padding:20px;
}

.header {
  background:#040822;
  padding:10px;
  border:1px solid cyan;
  border-radius:10px;
  margin-bottom:15px;
  text-align:center;
}

.chat {
  flex:1;
  background:#00030a;
  border-radius:15px;
  box-shadow:0 0 40px #022d46 inset;
  overflow-y:auto;
  padding:15px;
}

/* BUBBLES */
.bubble {
  margin:10px 0;
  padding:12px;
  border-radius:12px;
  max-width:70%;
  animation:pop 0.2s ease;
}

.human {
  background:#0a1438;
  margin-left:auto;
  color:#d6dbff;
}

.ai {
  background:#050c1f;
  color:#ced5ff;
  box-shadow:0 0 10px #062042;
}

/* INPUT */
.controls {
  display:flex;
  margin-top:10px;
  gap:6px;
}
input {
  flex:1;
  background:#07102b;
  border:none;
  padding:10px;
  color:white;
  outline:none;
}
button {
  background:#051a38;
  border:1px solid cyan;
  color:white;
  cursor:pointer;
}
button:hover {
  background:#08205c;
}

/* RIGHT */
.right {
  width:230px;
  background:#050a1c;
  box-shadow:0 0 30px cyan inset;
  position:relative;
}
.scan {
  position:absolute;
  height:100%;
  width:2px;
  background:cyan;
  animation:scan 3s infinite linear;
}

/* IMAGE */
.img {
  max-width:250px;
  border-radius:10px;
  margin:10px;
}

/* EFFECTS */
@keyframes scan {
  from {left:0;}
  to {left:100%;}
}
@keyframes pop {
  from {opacity:0; transform:scale(0.95);}
  to {opacity:1; transform:scale(1);}
}
