body{
    background:#0b0f1a;
    color:#00e0ff;
    font-family:Arial;
    padding:20px;
}

h1{
    text-align:center;
    letter-spacing:3px;
}

#chat{
    max-width:700px;
    margin:auto;
    background:#040817;
    padding:20px;
    border-radius:12px;
    height:400px;
    overflow-y:auto;
    box-shadow:0 0 15px #00e0ff40;
}

.user{
    text-align:right;
    margin:10px;
    color:#fff;
    background:#006bff;
    padding:10px;
    border-radius:8px;
}

.bot{
    text-align:left;
    margin:10px;
    background:#111;
    padding:10px;
    border-radius:8px;
}

input,button{
    margin:5px;
    padding:10px;
    background:#111;
    color:#00e0ff;
    border:1px solid #00e0ff;
}
