body {
  background:#050b16;
  margin:0;
  font-family:Arial;
}

.layout {
  display:flex;
  height:100vh;
  color:#00eaff;
}

.sidebar {
  width:220px;
  padding:20px;
  background:#020612;
  box-shadow:0 0 25px #00eaff44;
}

.logo {
  font-size:22px;
  text-shadow:0 0 12px #00eaff;
}

.status {
  margin-top:10px;
  color:#00ff99;
  font-size:14px;
}

.panel {
  flex:1;
  padding:20px;
  display:flex;
  flex-direction:column;
}

.chat-box {
  flex:1;
  background:#000716;
  border-radius:14px;
  padding:15px;
  overflow:auto;
  box-shadow:0 0 30px #00eaff55;
}

.user {
  text-align:right;
  margin:10px;
  background:#0084ff;
  color:white;
  padding:10px;
  border-radius:10px;
}

.bot {
  margin:10px;
  background:#141414;
  padding:10px;
  border-radius:10px;
}

.input-area,
.file-area {
  margin-top:10px;
}

input {
  background:black;
  border:1px solid #00eaff;
  color:#00eaff;
  padding:10px;
  width:60%;
}

button {
  background:#000;
  border:1px solid #00eaff;
  padding:10px;
  color:#00eaff;
  cursor:pointer;
  margin-left:5px;
}
